DATABASE_URL=
DIRECT_URL=
MONGODB_URI=
MONGODB_ENABLED=

# Informações para envio de email
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
FRONTEND_RESET_PASSWORD_URL=

# Mqtt Broker
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=

# JWT SECRET
JWT_SECRET=
JWT_EXPIRES_IN=