# ================================
# TSEA - Simulador MQTT
# ================================

# Broker Mosquitto
TSEA_MQTT_URL=
TSEA_MQTT_USERNAME=
TSEA_MQTT_PASSWORD=

# API NestJS
TSEA_API_BASE_URL=

# Use preferencialmente TOKEN.
# Precisa ser JWT completo, com 3 partes separadas por ponto.
TSEA_API_TOKEN=

# Se não quiser usar token, pode tentar login/senha.
# Deixe vazio se for usar token.
TSEA_API_LOGIN=
TSEA_API_PASSWORD=

# Processo
# Preferência: preencher o ID real do processo configurado.
TSEA_SIM_PROCESS_ID=

# Fallback por nome, caso o script tenha auto-descoberta.
TSEA_SIM_PROCESS_NAME=

# Identificação do ESP32 simulado
TSEA_SIM_DEVICE_ID=

# Necessário para pblicar ACK físico das válvulas em tsea/status
TSEA_SIM_PUBLISH_STATUS=

# Intervalos
TSEA_SIM_INTERVAL_MS=
TSEA_SIM_READING_INTERVAL_MS=

# Unidade e valor de pré-checagem
TSEA_SIM_VACUO_UNIDADE=
TSEA_SIM_PRECHECK_VACUO=

# IDs reais do banco.
# Exemplo: 1,2,3
TSEA_SIM_PTS_IDS=

# Formato: id_sensor:id_tanque,id_sensor:id_tanque
# Exemplo: 1:1,2:2,3:3
TSEA_SIM_ACOPLAMENTOS=